@model IEnumerable<ProductView>

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Products List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">Create Product</a>
    </div>
</div>
 <div class="row">
     <div class="col-3" id="pageSize">
         <select class="form-select">
             <option value=10>10</option>
             <option value=20>20</option>
            <option value=30>30</option>
            <option value=40>40</option>
         </select>
     </div>
 </div>
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.ISBN</td>
                <td>@product.price</td>
                <td>@product.Author</td>
                <td>@product.Category.Name</td>
                <td>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary">Update</a>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <button class="btn" id="prevPage"> < </button>
    <span id="pageNumber">1</span>
    <button class="btn" id="nextPage"> > </button>
</div>
